<?- include('parts/header') ?>
<?- include('parts/desktop-nav') ?>
<?- include('parts/mobi-menu') ?>
<?- include('parts/slideshow') ?>
<h2 class="text-xxl text-center mar-top-30 mar-bot-30"> <a href=""></a>Về chúng tôi</h2>
<?- include('parts/about-us-section') ?>
<h2 class="text-xxl text-center mar-top-30 mar-bot-30"> <a href=""></a>Giới thiệu</h2>
<?- include('parts/features') ?>



<h2 class="text-xxl text-center mar-top-30 mar-bot-30"> <a href=""></a>Tiêu biểu</h2>
<?- include('parts/room-listing') ?>
<h2 class="text-xxl text-center mar-top-30 mar-bot-30"> <a href=""></a>Album</h2>
<?- include('parts/gallery') ?>
<h2 class="text-xxl text-center mar-top-30 mar-bot-30"> <a href=""></a>Tin tức</h2>
<?- include('parts/news-card') ?>
<h2 class="text-xxl text-center mar-top-30 mar-bot-30"> <a href=""></a>Reviews</h2>
<?- include('parts/testimonials') ?>
<?- include('parts/cta-section') ?>
<?- include('parts/footer') ?>