<?- include('parts/header') ?>
<?- include('parts/desktop-nav') ?>
<?- include('parts/mobi-menu') ?>


<div class="flex body-width">
    <?- include('parts/article') ?>

    <section class="wide-on-mobile width-28-percent bg-off-white">
        <p class="text-xl mar-bot-30 mar-top-30">Xem thêm</p>


        <?- include('parts/news-card-related') ?>

    </section>
</div>





<?- include('parts/footer') ?>